<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../sass/font.css">

    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Categorias</title>
</head>

<body>

  <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #00b388;">
    <div class="container-fluid">
      <div>
        <span class="navbar-brand mb-0 h1">Porduct Rescue</span>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">USUARIOS</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="/categoria">CATEGORIAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/categoria">TIPO DE USUARIOS</a>
          </li>
        </ul>
      </div>
    </div>
    <div>

      <a class="navbar-brand" href="/login">
        CERRAR SESIÓN
      </a>
    </div>
  </nav>

    
    <% if(tipo){ %>
        <div class="container mt-4">
            <div class="card border-secondary">
                <div class="card-header" id="titlecard"> Editar categoria</div>
                <div class="card-body">
                    <form action="/editarCategoria" method="POST">
                        <input id="id" name="id" value="<%= tipo.id %>" hidden>
                        <div class="mb-3">
                            <label for="user" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" value="<%= tipo.nombre %>" tabindex='1'>
                        </div>
                        <button type="submit" class="btn btn-primary" id="submit-btn" tabindex="5">Guardar</button>
                        <a href="/categoria" class="btn btn-secondary" id="cancel-btn">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    <% } %>

    <% if(typeof alert != "undefined"){ %>
        <script>
            Swal.fire({
                title: '<%= alertTitle%>',
                text: '<%= alertMessage%>',
                icon: '<%= alertIcon%>',
                showConfirmButton: <%= showConfirmButton%> ,
                timer: <%= timer%>
            }).then(()=>{
                window.location='/<%= ruta%>'
            })
        </script>
    <% } %>


</body>

</html>