<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
  <link rel="stylesheet" href="custom.css">
  <title>Ordenes</title>
</head>

<body style="background-color: #f5f5f5;">
  <nav class="navbar navbar-light bg-primary navbar-expand-lg">
    <div class="container-fluid">
      <div>
        <span class="navbar-brand mb-0 h1">Porduct Rescue</span>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">ORDENES</a>
          </li>


        </ul>
      </div>
    </div>
    <div>

      <a class="navbar-brand" href="/login">
        Iniciar Sesión
      </a>
    </div>
  </nav>


  <!--OH NO HERMANO-->

  <div class="container-fluid">
    <div class="row">
      <!--Columna izquierda-->
      <div class="container-fluid col-1 col-lg-2">
        <h3 class="pt-5">CATEGORIAS</h3>
        <hr>
        <!--INICIO DE LOS BOTONES DE CATEGORIA-->
        <div class="d-grid gap-2 col-12 mx-auto pt-5">

          <a class="btn btn-primary rounded-0 text-white" type="button" href="#">Masas</a>
          <a class="btn btn-primary rounded-0 text-white" type="button" href="#">Bebestibles</a>
          <a class="btn btn-primary rounded-0 text-white" type="button" href="#">Carnes</a>
          <a class="btn btn-primary rounded-0 text-white" type="button" href="#">Embutidos</a>
          <a class="btn btn-primary rounded-0 text-white" type="button" href="#">Variados</a>


        </div>


      </div>
      <!--Columna central-->
      <main class="col-12 col-lg-8">
        <h3 class="pt-5">Productos</h3>
        <form action="/indec">
          <div class="container">
              <div class="row mb-3">
                  <div class="col-md-11">
                      <input class="form-control" type="text" placeholder="Buscar producto..." id="names" name="names">
                  </div>
                  <div class="col-md-1">
                      <button class="btn btn-primary rounded-0 text-white" type="submit">BUSCAR</button>
                  </div>
              </div>
          </div>
        </form>
      </form>

        <div class="container">

          <div class="row g-3">
            <% results.forEach((orden)=> { %>
              <div class="col-12 col-md-6 col-lg-4">

                <div class="card rounded-3">

                  <img src="uploads/<%= orden.image %>" class="card-img-top" id="imgcard" alt="Imagen inexistente" style="height: 200px;">
                  <div class="card-body">
                    <input hidden id="ordenId" name="ordenId" value="<%= orden.id %>">
                    <h5 class="card-title">
                      <%= orden.nombre%>
                    </h5>
                    <p class="card-text" id="datecut">Fecha: <%= orden.fecha.toLocaleDateString() %>
                    </p>
                    <p class="card-text">Fecha para que lo desechen: <%= orden.fechaVencimiento.toLocaleDateString() %>
                    </p>
                    <p class="card-text">Direccion: <%= orden.direccion %>
                    </p>
                    <p class="card-text">Estado: <%= orden.estadoNombre %>
                    </p>
                    <% if(orden.precio==0 ) {%>
                    <p class="card-text">Gratis</p>
                    <%}%>
                    <% if(orden.precio !=0 ) {%>
                    <p class="card-text">Precio: $<%= orden.precio %>
                    </p>
                    <%}%>
                    <!--BOTON-->
                    <% if(orden.estadoNombre !='DISPONIBLE' ) {%>
                    <a href="#" id="myLink" style="width: 100%;"class="btn btn-danger  rounded-3 btn-block text-white">No disponible</a>
                    <%}%>
                    <% if(orden.estadoNombre==='DISPONIBLE' ) {%>
                    <a href="/detalle/<%=orden.id%>" style="width: 100%;" class="btn btn-primary  rounded-3 btn-block text-white">Ver Evento</a>
                    <%}%>
                  </div>

                </div>

              </div>
              <% }) %>

      </main>

      <!--Columna derecha PUBLICIDAD-->
      <div class="col-12 col-lg-2 mt-3">
      </div>

    </div>
  </div>
  <script>
    var link = document.getElementById("myLink");
    link.classList.add("disabled");
  </script>
</body>

</html>